/* map position */
  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

/* font styles */

  h2,
  h3 {
    margin: 10px;
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 0.85em;
    margin: 10px;
    text-align: left;
  }
/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
  .map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
  }

  #features {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 250px;
  }

  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 150px;
    margin-bottom: 40px;
    width: 150px;
  }

  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  .map-overlay2 {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  /* width: 200px;
  top: 0;
  left: 0; */
  padding: 5px;
  z-index: 1;
  top: 50px;
  right: 10px;
  border-radius: 3px;
  width: 230px;
  }

  .map-overlay2 .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  }

  .map-overlay-inner fieldset {
  border: none;
  padding: 0;
  margin: 0 0 10px;
  }

  .map-overlay-inner fieldset:last-child {
  margin: 0;
  }

  .map-overlay-inner select {
  width: 100%;
  }

  .map-overlay-inner label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px;
  }

  .map-overlay-inner button {
  display: inline-block;
  width: 36px;
  height: 20px;
  border: none;
  cursor: pointer;
  }

  .map-overlay-inner button:focus {
  outline: none;
  }

  .map-overlay-inner button:hover {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  }

/* info panel sidebar */

  .perbuildinginfo {
      visibility: hidden;
      position: absolute;
      left:0px;
      top:32px;
      width:500px;
      background-color:white;
      padding: 0px 20px 10px;
      z-index:9999999;
      font: 18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      overflow-y: scroll;
      max-height: 80vh;
  }

  .perbuildinginfo.visible {
    visibility: visible;
  }

  .info{
    padding: 10px 10px 10px;
  }
  .address {
    font: 24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .type {
    color: gray;
  }

  .ghgintens {
    border-bottom:2px black solid;
    width:500px;
    padding-bottom:5px;
    padding-top:5px;
  }

  .ghgintens .value {
    font: 40px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
  }

  .targetGHG .value {
    font: 40px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .yearReport {
      margin-top: 10px;
  }

  .yearReport .value {
    font-weight: bold;
  }

  .siteeui .value {
    font-weight: bold;
  }

  .buildingID .value {
    font-weight: bold;
  }

  .area .value {
    font-weight: bold;
  }

  .energystar .value {
    font-weight: bold;
  }

  .yearReno .value {
    font-weight: bold;
  }

  .xLabel {
    font: 12px;
  }
  /* .ghgintens .label {

  } */
  /* .expandedbuildinginfo {
    padding: 10px 20px;
    min-height:840px;
    border-left: 1px solid #ccc;
  } */

  .close {
      float:right;
      display:inline-block;
      background:#ccc;
      cursor:pointer;
  }

  .close:hover {
      /*box-shadow: 2px 2px 5px rgba(0,0,0,.2);*/
      background:#428bca;
  }

  .perbuildinginfo .close {
    padding:1px 6px;
  }

  /* .expandedbuildinginfo .close {
    padding:6px 10px;
  } */
